<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        nav div {
            display: flex;
            gap: 2rem;
            align-items: center;
            font-size: 32px;
        }
        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body-main{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body-main form{
            display: flex;
            flex-direction: column;
            gap: 12px;
            font-size: 32px;
            margin-top: 32px;
        }

        .form-item {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .form-item input,
        .form-item select{
            padding: 12px;
            font-size: 32px;
        }

        button {
            padding: 12px;
            font-size: 32px;
        }
    </style>
</head>

<body>
    <div class="main">
        {{>navbar}}
        <div class="body-main">
            {{{body}}}
        </div>
    </div>
</body>

</html>